extends layout

block content

    nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-dark
        a.navbar-brand(href='#') #{game.display}
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id='navbarNav')
            if (info || help || playfield)
                ul.navbar-nav.nav(id='tabs')
                    li.nav-item
                        a.nav-link(href='#home', data-toggle='tab') Home
                    if (info)
                        li.nav-item
                            a.nav-link(href='#info', data-toggle='tab', data-gameid=game.id) Info
                    if (help)
                        li.nav-item
                            a.nav-link(href='#help', data-toggle='tab', data-gameid=game.id) Help
                    if (playfield)
                        li.nav-item
                            a.nav-link(href='#playfield', data-toggle='tab', data-gameid=game.id) Playfield
    
    div.container-fluid
        div.tab-content
            div.tab-pane.fade(id='home')
                div.row
                    div.col-5.mb-3
                        image.wheel(src='/media/'+game.dirMedia+'/Wheel/pthumbs/'+game.name+'_thumb.png')
                    div.col-auto
                        h4
                            span.badge.badge-primary Year 
                                span.badge.badge-light #{game.year}
                            span.badge.badge-dark.ml-2 Type 
                                span.badge.badge-light #{game.type}
                        h4
                            span.badge.badge-secondary Manufacturer 
                                span.badge.badge-light #{game.manufacturer}
                        h4
                            span.badge.badge-success Number of Players 
                                span.badge.badge-light #{game.numPlayers}
                        h4
                            span.badge.badge-danger Emulator 
                                span.badge.badge-light #{game.emulator}                
                        h4
                            span.badge.badge-warning Times Played 
                                span.badge.badge-light #{game.numPlays || 0}    
                        h4
                            span.badge.badge-info Last Played 
                                span.badge.badge-light #{game.lastPlayed ? game.lastPlayed.toLocaleString() : 'Never'}                        
                        hr
                        div.row
                            div.col-auto
                                button.btn.btn-primary(id='btnLaunch', type='button', data-id=game.id) Launch Game
                                button.btn.btn-secondary.ml-2(id='btnBack', type='button') Go Back
                            div.col(id='response')
            div.tab-pane.fade(id='info')
                div.carousel.slide(id='carouselInfo', data-ride='carousel')
                    div.carousel-inner
                    a.carousel-control-prev(href='#carouselInfo', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselInfo', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
            div.tab-pane.fade(id='help')
                div.carousel.slide(id='carouselHelp', data-ride='carousel')
                    div.carousel-inner
                    a.carousel-control-prev(href='#carouselHelp', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselHelp', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
            div.tab-pane.fade(id='playfield')


    